
<h1><span class="logo-font">{name}</span>.</h1>

<Counter />
<div id="chart4" class="ct-chart"></div>

<!-- Import the counter component! -->
<script>
  import Counter from './Counter.html';

  export default {
    components: {
      Counter
    }
  };
</script>
<!-- Include styles -->
<style>
  h1, h2 {
    font-weight:300;
    font-family: Lato;
  }
  .logo-font {
    text-transform: lowercase;
    font-size:2.5rem;
    font-family: 'Rajdhani', sans-serif;
    color: #aa1e1e;
  }

  #chart4 {
  background-color: slategrey;
  border-radius: 10px;
  padding-top: 10px;
 }
 .ct-series-a .ct-line {
  stroke: black;
  stroke-width: 4px;
}

</style>

